:root {
  --primary: #39db4a;
  --secondary: #fafafa;
  --button: #00c6e6;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
}
* {
  color: #000000;
  margin: 0;
}

.App-header {
  background-color: var(--secondary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.users-button {
  font-size: 18;
  padding: 20px 40px;
  border: none;
  border-radius: 10px;
  background-color: var(--button);
  cursor: pointer;
}
